/* @import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Manrope:wght@200..800&display=swap");

/* .shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-style: normal;
} */

.shadows-into-light-regular {
  font-family: "Covered By Your Grace", cursive;
  /* font-weight: 400; */
  font-style: normal;
}
.VectorIcon {
  /* Union */

  /* Vector 5273 (Stroke) */

  position: absolute;
  width: 476.49px;
  height: 514.61px;
  left: 14.51px;
  top: 274px;

  background: linear-gradient(
    220.41deg,
    #70558e 11.45%,
    rgba(112, 85, 142, 0) 90.79%
  );
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
